ai-edge-litert
astropy
crispy-bootstrap5
django
django_bootstrap_icons
django_cleanup
django-admin-tools
django-crispy-forms
django-extensions
django-templates-macros
gunicorn
humanize
matplotlib
numpy
OpenImageIO
paho-mqtt
Pillow
psycopg
scipy
sox
tzlocal
