ai-edge-litert
astropy
crispy-bootstrap5
crontab
django
django_bootstrap_icons
django_cleanup
django-admin-tools
django-crispy-forms
django-debug-toolbar
django-extensions
django-templates-macros
gunicorn
humanize
matplotlib
mysqlclient
numpy
OpenImageIO
paho-mqtt
Pillow
psycopg
tzlocal
