<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <td colspan="2">
                <p><small class="form-text text-muted">Enter your location and API key to track satellites.</small></p>
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Latitude</td>
            <td><input class="form-control" autocomplete="off" id="latitude"></td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td><input class="form-control" autocomplete="off" id="longitude"></td>
        </tr>
        <tr>
            <td>Altitude</td>
            <td><input class="form-control" autocomplete="off" id="altitude"></td>
        </tr>
        <tr>
            <td>API key from <a href="https://www.n2yo.com/api/">n2y0.com</a></td>
            <td><input class="form-control" autocomplete="off" id="api_key"></td>
        </tr>
    </table>
</div>