{% extends "generic/simple_big.html" %}
{% load i18n %}
{% load sdr_filters %}
{% load static %}

{% block simple_title %}{% trans "CONFIGURATION" %}{% endblock %}

{% block main_scripts %}
<script src="{% static 'js/config.js' %}"></script>
{% endblock %}

{% block simple_content %}
<div class="modal fade" id="save_success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configuration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Save success!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="config" style="display: none;" mqtt_url="{{ mqtt.url }}" mqtt_user="{{ mqtt.user }}" mqtt_password="{{ mqtt.password }}" mqtt_frontend_path="{{ mqtt.frontend_path }}">
</div>
<div class="row mt-2">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <div class="row">
            <div class="col-md">
                <h2>Scanner settings</h2>
                <h4>Select scanner:</h4>
                <div id="scanner_selector">
                </div>
            </div>
            <div class="col-md">
                <h2>Sdr device settings</h2>
                <h4>Select sdr device:</h4>
                <div id="device_selector">
                </div>
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="row">
            <div class="col-md">
                {% include "config_scanner_ignored_frequencies.html" %}
                {% include "config_scanner_other.html" %}
            </div>
            <div class="col-md">
                {% include "config_device_main.html" %}
                {% include "config_device_gains.html" %}
                {% include "config_device_level.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="d-grid gap-2">
                    <button id="save" type="button" class="btn btn-primary" disabled="disabled" autocomplete="off">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}